<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('../partials/head');%>
</head>

<body class="container">
     <header>
          <%- include('../partials/header');%>
     </header>
     <main>
          <div id="content">
               <div class="page_title"><b><h1>CHỈNH SỬA LỚP</h1></b></div>
               <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                         <form method="POST" action="/class/updateclass/<%- dataCl._id%>">
                              <div class="mb-3">
                                   <label for="txtMalop" class="form-label">Mã lớp</label>
                                   <input type="text" class="form-control" id="txtMalop" name="malop"
                                        value="<%- dataCl.malop%>">
                              </div>
                              <div class="mb-3">
                                   <label for="txtTenlop" class="form-label">Tên lớp</label>
                                   <input type="text" class="form-control" id="txtTenlop" name="tenlop"
                                        value="<%- dataCl.tenlop%>">
                              </div>
                              <button type="submit" class="btn btn-primary">Lưu</button>
                         </form>
                    </div>
                    <div class="col-3"></div>
               </div>
          </div>
          </div>
     </main>
     <footer>
          <%- include('../partials/footer');%>
     </footer>
</body>
<%- include('../partials/js');%>

</html>